.projects {
    color: #ffffffd9;
    padding: 100px 0;
}

.title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 70px;
    text-align: center;
    color: #ffffffd9;
}

.title span {
    color: #00cf5d;
}

.projects .col-md-6 {
    padding: 40px 0;
}

.projects .row {
    background-color: #1d293a;
    margin-bottom: 30px;
    padding: 0 20px;
    border-radius: 10px;
}

.project-description {
    padding: 15px;
}

.project-image {
    padding: 15px;
    /* border-radius: 10px; */
}

.project-description h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-description p {
    font-size: 17px;
    font-weight: 500;
}

.project-action a{
    font-size: 30px;
    margin-right: 10px;
    color: #ffffffd9;
    transition-duration: .5s;
}
.project-action a:hover{
    color: #00cf5d;
}