body {
    overflow-x: hidden !important;
}

footer {
    height: 80px;
    background-color: #1d293a;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffd9;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

footer p {
    transform: translateY(10px)
}